<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- Link to your CSS file -->
</head>
<body>
    <div class="container">
        <h1><%= title %></h1>
        <% if (messages.error) { %>
            <div class="alert alert-danger"><%= messages.error %></div>
        <% } %>
        <% if (messages.success) { %>
            <div class="alert alert-success"><%= messages.success %></div>
        <% } %>
        <form action="/account/login" method="POST">        

            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" name="account_email" id="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" name="account_password" id="password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
            </div>
            <div>
                <span>Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character</span>

            </div>
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="/account/register">Register here</a></p>
    </div>
</body>
</html>
